/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Properties */
:root {
  --background-gradient: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  --score-gradient: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --lavender: hsl(241, 100%, 89%);
  --dark-grey: hsl(224, 30%, 27%);

  --red: hsl(0, 100%, 67%);
  --yellow: hsl(39, 100%, 56%);
  --green: hsl(166, 100%, 37%);
  --blue: hsl(234, 85%, 45%);

  --head-xl: 4.5rem;
  --head-l: 2rem;
  --head-m: 1.5rem;
  --body: 1.125rem;

  --head-lh: 72px;

  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
}

/* General Styles */
body {
  font-family: "Hanken Grotesk", serif;
  background-color: var(--pale-blue);
}

/* Card Styles */
main {
  height: 100%;
  display: grid;
  place-items: center;
}

.card-container {
  width: 736px;
  height: 512px;
  margin: 0 auto;
  display: flex;
  background-color: var(--white);
  border-radius: 32px;
  box-shadow: 0 30px 60px rgba(60, 107, 236, 0.15);
}

.scorecard {
  background: var(--background-gradient);
  color: white;
  width: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  padding: 38px 54px 46px;
}

.scorecard_score {
  width: 200px;
  height: 200px;
  background: var(--score-gradient);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.score_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 28px;
}

.scorecard_score h1 {
  font-size: var(--head-xl);
  line-height: var(--head-lh);
  font-weight: var(--fw-800);
}

.scorecard_score p {
  opacity: 0.5;
}

.score_text h2 {
  font-size: var(--head-l);
}

.score_text p,
.scorecard_score p,
.scorecard .heading {
  color: var(--lavender);
}

p {
  font-size: var(--body);
  font-weight: var(--fw-500);
}

.heading {
  font-size: var(--head-m);
}

.category_score,
.score_text h2 {
  font-weight: var(--fw-700);
}

.summary {
  padding: 38px 40px 48px 40px;
  width: 384px;
}

.summary .heading,
.category_score {
  color: var(--dark-grey);
}

.category-wrapper {
  display: grid;
  grid-template-rows: 4;
  gap: 1rem;
  margin-top: 28px;
}

.category {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 12px;
}

.left,
.right {
  display: flex;
}

.left img,
.right .category_score {
  margin-right: 0.875rem;
}

.percent {
  opacity: 0.5;
}

#reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
}

#reaction-label {
  color: var(--red);
}

#memory {
  background-color: hsla(39, 100%, 56%, 0.05);
}

#memory-label {
  color: var(--yellow);
}

#verbal {
  background-color: hsla(166, 100%, 37%, 0.05);
}

#verbal-label {
  color: var(--green);
}

#visual {
  background-color: hsla(234, 85%, 45%, 0.05);
}

#visual-label {
  color: hsl(234, 85%, 45%);
}

button {
  width: 100%;
  padding: 1rem;
  background: var(--dark-grey);
  border-radius: 128px;
  color: var(--white);
  font-weight: 700;
  font-size: var(--body);
  margin-top: 46px;
}

button:hover {
  background: var(--background-gradient);
}

/* Media Queries */

@media screen and (max-width: 750px) {
  .card-container {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    border-radius: 0;
  }
  .scorecard {
    width: 100%;
    border-radius: 0 0 32px 32px;
  }
  .summary {
    width: 100%;
  }
}
